# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.production

# Credenciales de Firebase
firebase-service-account.json
*-firebase-adminsdk-*.json

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de build
dist/
build/

docs/